/* PetList.css */
.PetList div {
  margin: 20px auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.Pet {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.PetList h1 {
  font-size: 36px;
  font-weight: bold;
  color: #d015f9;
  text-align: center;
  margin: 20px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2), -2px -2px 6px rgba(135, 206, 250, 0.8);
}

.Pet h3 {
  font-size: 20px;
  color: #007bff;
  margin-bottom: 10px;
}

.Pet p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.PetList-grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 10px;
}

.PetList-grid img {
  width: 100%;
  height: auto;
}


/* Mobile responsiveness */
@media (max-width: 768px) {

  .PetList-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    gap: 10px;
  }

}

@media (max-width: 240px) {

  .PetList-grid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }

}